body {
    display: block;
    background-color: #cedae6;
    width: 75%
}

h1 {
    color: #0000ff;
    font-size: 3rem;
}

h2 {
    color: #697fbf;
    font-size: 1rem;
}

/* ul {
   text-align: left;
}

ol {
    text-align: left;
} */

img {
    border: solid;
    border-width: 20px;
    border-color: #f2ebc9;
    width: 50%;
    height: 50%;
}