body {
    background-color: #f2ebc9;
    text-align: center;

}

h1 {
    color: #0000ff;
    font-size: 3rem;
}

h3 {
    color: #697fbf;
    font-size: 1rem;
}

li {
}
img {
    width: 50%;
    height: 50%;
}